<div class="container">
  <h1>Lista de remédios</h1>

  <% @meds.each do |med| %>
    <%= med.name %>
  <% end %>

  <ul class="medicines-offers">
  <li > <img src="" alt="" class="box">
  <h2 class="title">aspirina</h2>
  <p class="descrition"> blablabal</p>
  </li>

  <li > <img src="" alt="" class="box">
  <h2 class="title">aspirina</h2>
  <p class="descrition">blablabal</p>
  </li>

  <li > <img src="" alt="" class="box">
  <h2 class="title">blablbla</h2>
  <p class="descrition">aspirina</p>
  </li>

  <li > <img src="" alt="" class="box">
  <h2 class="title">aspirina</h2>
  <p class="descrition">blablabla</p>
  </li>

  </ul>

</div>
