<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @med.name %></h1>
      <%= cl_image_tag @med.photo.url(:standard) %>
    </div>
  </div>
</div>
