<h1><%= @meds %></h1>

<%= raise %>


<div>Informações do doador</div>
<div>Localização</div>
<div>med_photo</div>
<div>exp_date_photo</div>
<div>date de validade</div>
<div>Descrição do Medicamento</div>
<div>Bula</div>
