#users {

  .card {
    height:200px;
    width: 800px;
  }
  .row {
    padding: 20px;
  }

  .card-l {
    background-color: white;
    height:600px;
    width: 300px;
    padding: 20px
  }

  p {
    font-size: 14px;
  }

  h3 {
    font-size: 20px;
  }

  .medicines-list h3 {
    font-size: 20px;
  }

}


