<h1>SOLICITAR UMA DOAÇÃO</h1>

<p><%= @med.name %></p>

<p><%= "Doador: #{@med.user.name}" %></p>
<p><%= "Receptor: #{current_user.name} " %></p>
<%= link_to "Prosseguir", user_path(current_user), { id:"new_share", class: "btn-search" }%>

