<h2 class='text-center'>Preencha os dados de sua solicitação</h2>
<div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= simple_form_for(@share) do |s| %>
    <%= raise %>
      <%
      <%= s.input :name, label: 'Nome do medicamento: ', value: @med.name %>
      <%= s.button :submit, label: 'Solicitar', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
