
<div id="users">
  <div class:"container">
   <div class="dropdown">
      <%= image_tag user_picture, class: "avatar", id: "navbar-wagon-menu", "data-toggle" => "dropdown", class: "img-circle" %>
      <h3 text-align="in-line"><%= current_user.name  %></h3>
      <div class="medicines-list">
        <h3 >Medicamentos disponíveis para doação</h3>
        <% @meds.each_with_index do |med, index| %>
              <p text-align="left">
                <%= "- #{index + 1}) #{med.name}: #{med.description}, val: #{med.exp_date.strftime("%m/%d/%Y")}" %>
              </p>
            <% end %>
      </div>

    </div>
    <div class="content">
      <div class=card>
          <h4 text="top-center">Doações Recebidas</h4>
          <p text-align="center">
              "data: 1/7/2017 doador: Dr. Wilm medicamento: Dipirona"
            </p>
      </div>
      <div class=card>
          <h4 text="top-center">Medicamentos já doados</h4>
          <p text-align="center">"data: 1/7/2017 receptor: D. Maria medicamento: Xarope"
          </p>


      </div>

    </div>
  </div>
</div>



