
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCPY_s3CSbG4oB6JT6jtCSgwQDbAsWYkdjrYr5sbAluJPnVoj4');">
  <div class="banner-content">
    <h1>MED SHARE</h1>
    <p>Doe ou busque seu remedio</p>
    <a href="#" class="btn-medium">put a medicine</a>
    <a href="#" class="btn-treehouse">Start now</a>
  </div>
</div>

