.scroll-overflow {
  overflow: scroll;
}

.align-btn-top-left {
  position: relative;
  top: 140px;
  left: 550px
}

.align-name-mid-left {
  position: relative;
  left: 700px;
  top: 70px
}

.align-avatar-left {
  position: relative;
  left: 700px
}
