.scroll-overflow {
  overflow: scroll;
}

.align-btn-top-left {
  position: relative;
  top: 140px;
  left: 220px
}

.align-name-mid-left {
  position: relative;
  left: 380px;
  bottom: 65px
}

.align-avatar-left {
  position: relative;
  left: 400px;
  bottom:30px
}

.badge {
  display: flex;
  align-items: center;
}
